<h1>Stupid Coaching</h1>

<div id="question">
  <h2>You</h2>
  <p> <%= @question %> </p>
</div>

<div id="answer">
  <h2>Your Coach</h2>
  <p><%=@answer%></p>
</div>

<%= link_to 'Ask another question', 'ask' %>
